<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.contoso.$PluginName$"
      version="0.1.0">
    <name>$PluginName$</name>
    <description>$PluginName$ plugin for Apache Cordova</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/$PluginName$.js" name="$PluginName$">
        <clobbers target="$PluginName$" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="$PluginName$">
                <param name="wp-package" value="$PluginName$"/>
            </feature>
        </config-file>

        <source-file src="src/wp/$PluginName$.cs" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/$PluginName$Proxy.js" name="$PluginName$Proxy">
            <merges target="" />
        </js-module>
    </platform>

</plugin>
